nav {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d8d8d8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h3 {
    font-size: 26px;
    margin-left: 4rem;
}

.nav__links {
    width: 24%;
    display: flex;
    justify-content: space-around;
    margin-right: 4rem;
    font-size: 22px;
}

.nav__links a {
    text-decoration: none;
    color: #1c1c1c;
}

.nav__links a:hover {
    color: #314adb;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    h3 {
        margin-left: 1rem;
    }
    .nav__links {
        flex-direction: column;
        margin: 0;
        padding-top: 2rem;
    }
}
